/*
Theme Name: Anypatches
Author: Jag
Author URI: .
Version: 1.0
License: GNU General Public License v2 or later
*/
body{color:#999;font-family: 'Poppins', sans-serif;font-size:17px;text-rendering:optimizelegibility;
font-weight:300;}
.main_wrapper{position:relative;}
.overlayer.active{position:fixed;background:rgba(0, 0, 0,.5);width:100%;height:100%;z-index:1001;cursor:pointer;}

/* =========================== Global  Theme Style ================================== */
dt{font-weight:500;}
ul{padding: 0;}
/* .modal-open{padding-right:0 !important;overflow:auto;} */
p{line-height:27px;}
h1, h2, h3{font-weight:600;color: #000;letter-spacing:-0.5px;}
h4, h5, h6{font-weight:600; color: #000;}
img{max-width:100%;}
a, button, input[type="submit"]{color:##3dbdcd;transition:all 0.5s ease-in-out 0s;}
a:hover, a:focus{outline:none;color:#23527c;text-decoration:none;}
.section{padding:80px 0;}
label,strong{font-weight:500;}
.padd_right_0{padding-right:0;}
.padd_left_0{padding-left:0;}
.padd_0{padding:0 !important;}
.padd_bott_0{padding-bottom:0}
.form-group.mar_right_0{margin-right:0}
.section-action{padding:30px 0 10px;}

.section-title{position:relative;margin-bottom:40px !important;}
/* .section-title:after{position: absolute;width: 150px;content: "";bottom: -15px;background: #029bff;left: 50%;height: 3px;margin-left: -75px} */
.section-title h2{margin-top:0;}
.section-title h3{font-size:25px;font-weight:600;color:#000;margin-top: 0;}
.section-title p{}

/* ======  Buttons ===== */

.vc_btn3.vc_btn3-color-primary, .vc_btn3.vc_btn3-color-primary.vc_btn3-style-flat{background:#1d8bdf;}
.vc_btn3{font-weight: 500;}
.vc_btn3.vc_btn3-color-turquoise.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-turquoise.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-turquoise:focus, .vc_btn3.vc_btn3-color-turquoise:hover,
.vc_btn3.vc_btn3-color-white.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-white.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-white:focus, .vc_btn3.vc_btn3-color-white:hover{background:#e95658;color:#fff;}
.vc_btn3.vc_btn3-size-lg{padding: 13px 45px;padding-right: 45px;font-size: 15px;font-weight: 500;border-radius: 60px;}
.vc_btn3.vc_btn3-size-md{padding: 10px 35px;font-size: 15px;}
.vc_btn3.vc_btn3-size-md.vc_btn3-style-outline, .vc_btn3.vc_btn3-size-md.vc_btn3-style-outline-custom{padding:9px 35px;}
.vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline, .vc_btn3.vc_btn3-size-sm.vc_btn3-style-outline-custom{padding:7px 35px;}
.vc_custom_heading{padding-bottom:15px;}
.vc_custom_heading a:hover{color:#1582ca;}
.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat{background-color:#e32311;}
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-outline {color: #e32311;border-color:#e32311;}
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-outline:hover {border-color: #e32311;background-color: #e32311;}

/* =========================== Global  Theme Style ================================== */

.navbar-static-top{background:#fff;border:medium none;width:100%;transition: all 0.3s ease-in-out;margin:0;padding:0;box-shadow:0 0 2px #a5a5a5;}
.custom-logo-link{padding:3px 0;display: block;}
.navbar-toggle{font-size:38px;line-height:normal;padding:6px 10px;display:none;}
.navbar-toggle:hover{color:#EB6133;}
.navbar-brand .white-logo{display:none;}
.transp-header .navbar-static-top{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0; margin: 0; padding: 10px 0;}
.navbar-static-top.fixed{position:fixed;padding:0;border:none;}
.transp-header .navbar-brand .white-logo{display:block;}
.transp-header .navbar-brand .blue-logo{display:none;}
.navbar-brand{height:auto;padding:10px;}
.heder-links{float:right;margin:19px 0 19px 20px;text-transform:uppercase;}
.heder-links .btn-white-outline{border-color:#999;color:#999;}
.transp-header .heder-links .btn-white-outline{border-color:#fff;color:#fff;}
.heder-links .btn:last-child{margin-left:5px;}
.heder-links .btn i{font-size:22px;line-height:0;}
.btn.login-btn:hover{background:#63b7e3;border-color:#63b7e3;color:#fff;}
.brands{padding:7px 0;}
/* .main-menu > li:last-child > a:before{content:"\f11d";font-family:ionicons;padding: 0 5px 0 0;} */
.main-menu > li > a{color:#000;font-size: 17px;padding:32px 13px;font-weight:500;text-transform:capitalize;margin-right: 1px;}
/* .main-menu > li > a.btn{ margin: 13px 0;padding: 8px 27px;} */
/* .main-menu > li:last-child > a{margin: 16px 0;padding: 11px 27px;border-radius: 40px;background:#e95658;color:#fff;line-height: normal;}
.main-menu > li:last-child > a:hover{background:#00C1CF;color:#fff;}  */
.main-menu > li:last-child > a{color:#1582ca;}
.main-menu > li:last-child > a:before {content: "\f2d2";font-family: ionicons;padding: 0 5px 0 0;color:#e32311;}
.main-menu > li > a:hover,.main-menu > li > a:focus{background:none;color:#3dbdcd;}
.main-menu > li > a.btn:hover{background:#fff;color:#ff8a04;}
.main-menu > li > a:focus,.main-menu > li > a:hover,.main-menu > li.active > a, .main-menu > li.current-menu-item > a,
.main-menu > li.current-menu-ancestor  > a,
.fixed .main-menu > li.current-menu-item > a{background:#f0f7fd;color:#6eb4ec;text-decoration:none;outline:none;}
.main-menu > li:hover > a:after,
.main-menu > li.current-menu-item > a:after,.main-menu > li.current-menu-ancestor > a:after
{position: absolute;bottom:0px;content:"";color: #fff;font-size: 37px;left:0;right:0;text-align: center;
    background:#6eb4ec;height:2px;}	
/* .main-menu > li:last-child:hover a:after{content:none;} */

/* .home .main-menu > li:hover > a:after,.home.main-menu > li.current-menu-item > a:after{content:none;} */

.fixed.navbar-static-top .main-menu > li.current-menu-item > a:after{content:none;}
.fixed.navbar-static-top,.home  .fixed.navbar-static-top, .home .fixed.navbar-static-top{background:#fff;box-shadow:0 0 2px #a5a5a5;position: fixed;}
/* .fixed .main-menu > li > a{color:#555;} */
.fixed .main-menu > li > a:hover{color:#23527c;}
.transp-header .fixed .navbar-brand .blue-logo,.fixed .navbar-brand .blue-logo{display:block;}
.fixed .navbar-brand .white-logo{display:none;}
.fixed .heder-links .btn-white-outline{border-color:#999;color:#999;}
.fixed .heder-links .btn-white-outline:hover{color:#fff;border:1px solid #63b7e3;}

button#responsive-menu-button{border-radius:100%;}

/* dropdown-menu */ 
.main-menu > li:hover .dropdown-menu{display:block;}
.navbar-right .dropdown-menu{left:0px;right:auto;/* top:103%; */}
.fixed .navbar-right .dropdown-menu{top: 100%;}
.dropdown-menu{border-radius:0;padding:0;border:none;/* border-top:4px solid #3dbdcd; */}
.dropdown-menu > li > a{padding:8px 22px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background:#00447a;color:#fff;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover
{background:#00beda}
/* dropdown-menu  END */ 

/* dropdown-menu child*/
.main-menu > li:hover .dropdown-menu > li{position:relative}
.main-menu > li:hover .dropdown-menu .dropdown-menu
{display:none;top: -3px;right: -160px;left: auto;} 
.main-menu > li:hover .dropdown-menu > li:hover .dropdown-menu{display:block;} 
/* dropdown-menu  child END */ 


/* Section-title */ 

.Section-title h1{font-size:40px;} 
.Section-title p{font-size:20px;} 

/* Section-title */ 

.wpb_revslider_element.wpb_content_element{margin-bottom:0;}

/* sidebar Menu and Post Sidrebar*/

.sidebar
{
position:fixed;
right:-320px;
width:320px;
height:100%;
background:#fff;
z-index:9999;
top:0;
padding: 15px 10px;
transition:all 0.5s ease-in-out 0s;	
display:none;
}
/* .sidebar .navbar-toggle .icon-bar{border-top: 1px solid #373e47 !important;} */
.customize-support .sidebar{top:32px;}
.sidebar.active{right:0px;}
.Sidebar-menu {width:100%;margin-bottom:15px;}
.Sidebar-menu li{float:none;}
.Sidebar-menu li a{padding:10px 15px;}
.sidebar .widget, 
.post-sidebar .widget{padding: 0px 14px;margin-bottom: 30px;} 
.sidebar .widget .widget-title, 
.post-sidebar .widget .widget-title
{border-bottom:1px solid #029bff;padding:0 0 12px;margin:0 0 12px;color:#373e47;text-transform: uppercase;}
.sidebar .widget_nav_menu{display:none;} 
.sidebar .navbar-toggle{position:absolute;right:0;top:3px;}
.post-sidebar .widget ul{margin:0;padding:0;list-style:none;}
.post-sidebar .widget ul li{font-size:16px;padding:5px 0;}
.post-sidebar .widget ul li a{color:#999;}
.post-sidebar .widget ul li a:hover{color:#3dbdcd;}
.post-sidebar .menu li a{border-bottom: 1px solid #eee;}
.post-sidebar .widget_recent_entries ul
{margin:0;padding:0;list-style:none;}
.post-sidebar .rpwwt-widget ul li {border-bottom:1px solid #eee;margin-bottom:10px;}
.post-sidebar .rpwwt-widget ul li a{color:#555;font-weight:400;}
.post-sidebar .rpwwt-widget ul li a:hover{color:#23527c;}
.post-sidebar ul li .rpwwt-post-date{font-size:12px;}
.rpwwt-widget ul li img{border-radius:2px;}

/* ========= Sidebar Search======= */
.post-sidebar .search-form{display: inline-block;width: 100%;}
.post-sidebar .widget_search label{float: left;width:70%;}
.post-sidebar  .search-form input[type="search"]{width:100%;}
.post-sidebar  .search-form .search-submit{width:28%;padding: 9px 0;}

/* ========= Sidebar Search END ======= */



/* sidebar  END */ 

/* -----------------  NAVBAR TOGGLE----------------- */

@text-color: #022022;
@bg-color: #eee;

.navbar-toggle {
  border: 1px solid @text-color;
  background-color: @bg-color;
  display: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  height:42px;
  width:42px;
  z-index: 1;
  float: right;font-size: 31px; padding:0;line-height:0;
  background:#3dbdcd;
  margin:10px 0 12px 30px;
/*   margin-left:30px; */
  border-radius:100%;
  
  &:hover {
    background-color: #fff;
  }
  
  &:focus {
    outline: none;
  }
}

.navbar-toggle .icon-bar {
  width:25px;
  height:3px;
  border-top:2px solid #fff;
  margin-bottom:0;
  display: block;
  transition: transform 400ms linear;

  
  &:nth-child(3) {
    margin-bottom: 0;
  }
}
.header.fixed .navbar-toggle .icon-bar{ border-top: 1px solid #999;}
/* .navbar-toggle .icon-bar:first-child{width:18px} */
.navbar-toggle .bars, .navbar-toggle .label {
  display: inline-block;
  vertical-align: middle;
  margin-top:1px;
}

.navbar-toggle .label {
  height: 35px;
  overflow: hidden;
  &:after, &:before {
    display: block;
    color: @text-color;
    font-size: 28px;
    font-weight: 100;
    transition: transform 400ms linear;
  }
  &:before {
    content: 'MENU';
  }
  &:after {
    content: 'CLOSE';
  }
}

.navbar-toggle.closed .icon-bar:nth-child(1) {
  transform: rotate(44deg) translateY(6px) translateX(5px);
  }
.navbar-toggle.closed .icon-bar:first-child{/* width:30px; */}
.navbar-toggle.closed .icon-bar:nth-child(2){
   /*  transform: rotate(-45deg); */
	transform: rotate(140deg) translateY(1px) translateX(1px);
  }
.navbar-toggle.closed  .icon-bar:nth-child(3) {
    transform: scale(0);
	  margin-bottom: 0px;
  }
  .label {
    &:after, &:before {
      transform: translateY(-32px);
    }
  }

/* -----------------  NAVBAR TOGGLE END ----------------- */

/* ================ page-title ================= */
.large-title{font-size:60px;color:#091b5e;}
.page-title{padding:25px 0;background:#fff;position:relative}
.page-title .vc_custom_heading{margin:0;color:#0193de;font-weight:600;font-size:30px;padding:0;}
.page-title:before{position: absolute;
    left: -85px;
    top: 0;
    width: 85px;
    border-left: 56px solid transparent;
    border-top: 83px solid #fff;
    content: "";}
h1.entry-title{font-size:35px;color:#fff;margin:0}
.post-title{padding:80px 0;background:#00447a;}
h2.entry-title{font-size:30px;color:#fff;margin:0}
.internal-hero{padding:20px 0;}
.internal-hero{padding:100px 0;}
.internal-hero.services-hero{padding-bottom:150px;}
.internal-hero p{/* font-size:25px;color:#fff;line-height:normal; */}

/* ================ page-title END================= */
/* Menus */
.menu{padding:0;margin:0; list-style:none;}
.menu li a{padding:8px 0;color:#999;display: block;}
.menu li a:hover{color:#3dbdcd;}
/* Menus */

/* ================ Footer ================= */

.footer{background:#fff;padding:50px 0;border-top:1px solid #dddddd;font-size:16px;}
.footer .textwidget a{font-weight:500;}
.copyright{line-height: normal;padding:25px 0;text-align:center;background:#e2eef847;border-top: 1px solid #ebf3fa;}
.copyright .textwidget{padding:15px 0 0;}
.footer .widget-title{font-size:17px;color:#000;margin-bottom:20px;}
.footer .textwidget{font-size:16px;}
.footer .textwidget i{min-width:25px;}
.edit-link{display:none;}
.footer a, .copyright a{color:#999;}
.footer a:hover, .copyright a:hover{color:#169aff}
.footer .menu{padding:0;margin:0; list-style:none;}
.footer .menu li a{padding:5px 0;}
.footer .menu li a:hover{color:#169aff;}
.social-icons-lists{padding:0;margin:0;}
.social-icons-lists li.social-icons-list-item{margin:1px;}
.social-icons-lists.social-icons-greyscale .socicon{background:#cccccc;transition:all 0.5s ease-in-out 0s;}
.social-icons-lists.social-icons-greyscale .socicon:hover{background:#169aff;}
.zoom-social-icons-list--no-labels .zoom-social_icons-list__item{margin:0 4px 0 0;} 

.footer .flexipages_widget ul{margin:0;list-style:none;padding:0;}
.footer .flexipages_widget ul li{margin:0;float:left;padding:0;}
.footer .flexipages_widget ul li a{margin:0 2px 5px 0;float:left;padding: 7px 14px;font-size:12px;background:#e2eef8;color:#999;border-radius: 2px;}
.footer .flexipages_widget ul li a:hover{background:#0193de;color:#fff;}

/* ================ Footer END================= */

/* ================ Clients================= */
.client-box{ text-align: center;}
.client-box
{    display: inline-block;
    float: none;
    line-height: 100px;
    min-height: 100px;
    text-align: center;
    width: 16%;
}
.client-box:hover{opacity:0.5;}

/* ================ Clients END================= */

/* ================  BLOG ============= */
.sp_wpspwpost_static.wpspw-design-2 .wpspw-post-grid-content{position:relative;box-shadow: 0 0 5px #ccc;}
.sp_wpspwpost_static.wpspw-design-2 .wpspw-post-details-wrapper
{padding:10px 15px 22px 15px;bottom: 0px;}
.sp_wpspwpost_static.wpspw-design-2 .wpspw-medium-4 .wpspw-post-image-bg
{height:auto;max-height:425px;}
.wpspw-post-title{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color:#00447a;padding-bottom: 10px !important;letter-spacing:0;}
.sp_wpspwpost_static.wpspw-design-2 .wpspw-post-title a{color:#00447a;}
.sp_wpspwpost_static.wpspw-design-2 .wpspw-post-title a:hover{color:#0193de;}
.sp_wpspwpost_static.wpspw-design-2 .wpspw-readmorebtn
{color:#029bff;border:none;padding:0;font-size: 14px;border-radius: 2em;font-weight: 500;margin:0}
.sp_wpspwpost_static.wpspw-design-2 .wpspw-readmorebtn:hover{background:none;border:none;color:#00447a !important;}
.sp_wpspwpost_static.wpspw-design-2 .wpspw-post-image-bg .wpspw-post-date{position: absolute;top:0;bottom:auto;width: auto;background: #00447a;text-align:center;}
.sp_wpspwpost_static.wpspw-design-2 .wpspw-post-image-bg .wpspw-post-date span{/* display:block; */}
.wpspw-post-categories{display:none;}

/* ================  BLOG ============= */

.uparrow {
    background:#00447a;
    border-radius:100%;
    bottom:150px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 25px;
    height: 45px;
    line-height:49px;
    position: fixed;
    right: 30px;
    text-align: center;
    width: 45px;
	z-index:100;
}
.uparrow:hover{background:#029bff;color:#fff;	box-shadow:0px 3px 5px #ccc;}

/* ================ FAQ ================== */
.faq .vc_toggle
{
padding:0;
border:1px solid #cccccc;
border-bottom:none;
margin:0;	
}
.faq .vc_toggle:last-child{border-bottom:1px solid #cccccc;}
.faq .vc_toggle .vc_toggle_title{padding:18px 25px;}
.vc_toggle_title > h4{text-transform:capitalize;font-weight:300;}
.faq .vc_toggle .vc_toggle_content
{
border-top:1px solid #cccccc;	
margin:0;
padding:30px 44px;
}
.faq p{margin:0;}
.faq .vc_toggle .vc_toggle_title i.vc_toggle_icon{left:auto;right:30px;}

.vc_toggle_size_md.vc_toggle_default .vc_toggle_icon::after,
.vc_toggle_size_md.vc_toggle_default .vc_toggle_icon 
{width: 19px;height: 1px;border: none;}
.vc_toggle_size_md.vc_toggle_default .vc_toggle_icon::before {
    height: 20px;
    width: 1px;
	border: none;
}
.wpb-js-composer .vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading:focus, .wpb-js-composer .vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading:hover,
.wpb-js-composer .vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title>a{background:#0193de !important;color:#fff !important;}
.wpb-js-composer .vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading{border-color:#0193de !important;}

/* ================ FAQ ================== */
/* ================ POST  ================== */

.post-container, .category-container{padding:75px 0;/* border-bottom: 1px solid #eee; */margin-bottom:80px;}
.entry_meta
{
border-top:1px solid #ccc;	
border-bottom:1px solid #ccc;
padding:10px 0px;
margin: 15px 0;
}
.entry_meta span{margin-right:15px}
.entry_meta span a{color:#555;}
#comments, .post-navigation
{display:none;}
.category-container .post {
    border-bottom: 1px solid #eee;
    margin-bottom: 58px;
    padding-bottom: 30px;
}
.category-container .post  h2.entry-title{margin-bottom:30px;font-size: 25px;}
.category-container .post .entry-content{padding:15px 0;}
.category-container .post .entry-footer{margin:15px 0;}
.post-content .post-thumbnail{margin-bottom:25px}
.post-content h2.entry-title{color: #000;margin: 0 0 15px;}
.post-content .entry-summary{display:none;}

/* ================ POST end================== */
/* ================ press-container ================== */
.press-container .sp_wpspwpost_static.wpspw-design-1 .wpspw-post-grid-content
{	
border:none;
border-bottom:1px solid #23527c;	
padding-bottom: 20px;
}

.press-container  .sp_wpspwpost_static h2.wpspw-post-title a, 
.press-container  .sp_wpspwpost_slider h2.wpspw-post-title a
{padding:0 !important;font-size:18px !important;margin-bottom:15px;font-family:poppins;font-weight:300;color:#23527c !important;}
.press-container  .sp_wpspwpost_static h2.wpspw-post-title,
.press-container  .sp_wpspwpost_static .wpspw-post-date
{padding:0 !important;}

.press-container .wpspw-post-grid{margin-bottom:60px;}

/* ================ press-container END  ================== */
/* ================ News Letter  ================== */
.es_widget_form .es_lablebox{display:none;}
.es_widget_form .es_textbox{float:left;}
.es_widget_form .es_textbox_class
{
    font-size: 17px;
    box-shadow: none;
    border-radius: 1px;
    height: 45px;
    padding: 0 18px;
}
.es_widget_form .es_textbox_button
{width: auto;
padding: 6px 24px;
font-size: 25px;
border-radius: 2px;
font-size: 33px;
line-height: 0;}
.es_msg{color:#8a6d3b;}

/* ================ News Letter END  ================== */
/* ================ feture-box  ================== */
.feature-box h4{font-weight:normal;font-weight: 500;}
/* ================ feture-box END  ================== */

/* ================ locations  ================== */

.wpb_gmaps_widget .wpb_wrapper{padding:0;}
.location-box{color:#fff;min-height:450px !important;text-align:center;background:#23527c }

/* ================ locations END  ================== */

/* ================ home  ================== */

/* .home .navbar-static-top {width:100%;left:0;top:0;z-index:1001;background:none;} */

.hero{background-position:top center !important;padding: 0 0 35px;}
.hero-intro{padding:30px 0px;padding-right:0;}
.hero-intro .vc_column-inner{padding-right:0;} 
.hero h1 {
    color: #0193de;
    font-size: 53px;
    margin: 0;
    font-weight: 600;
    letter-spacing: -2px;
    /* text-shadow: 2px 1px 0px #555; */
}
.hero h2  {
    color: #000;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: -2px;
    padding: 0;
	 margin-bottom:5px;
}
.hero h3 {
    margin-bottom:20px;
    color: #999;
	font-weight:300;
	font-size:30px;
	letter-spacing: -1px;
	margin:5px 0;
}
.hero .call-or{font-size:39px;letter-spacing: -1px;margin-bottom:40px;color:#0193de}
.hero .call-or a{font-family: 'Montserrat', sans-serif;font-weight:700;}
.hero-gallery{padding:0;}

/* ================ home  END  ================== */
/* ================ home  ================== */
.Aboutus-video h1 {
    color: #fff;
    font-size: 60px;
    margin:0 0 10px;
    font-weight: 600;
    letter-spacing: -2px;
	/* text-shadow: 2px 1px 0px #555; */
}
.Aboutus-video h2 {
    margin-bottom:10px;
	font-size:25px;
    color: #fff;
	letter-spacing: 1px;
    font-family: 'Roboto Slab', serif;
	font-weight:300;
}
.Aboutus-video .a{background:none;padding:0;margin-top:10px;}
.Aboutus-video a strong{display:none;}
.Aboutus-video a i{
    font-size: 44px;
    color: #3dbdcd;
    height: 55px;
    width: 55px;
    display: inline-block;
    line-height: 50px;
    border-radius: 100%;
    opacity: 0.8;
    border: 2px solid #3dbdcd;
    text-align: center;
}
.Aboutus-video a i:hover{color:#fff;opacity:1;border-color:#fff;}

/* ================ home  END  ================== */

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{margin-bottom:20px;}

/* ================ Slogan Lines================== */

.slogan-lines p{font-size:25px;line-height:38px;color:#000;font-weight:500;letter-spacing:-0.5px;padding:15px 0;margin-bottom:50px;}

/* ================ Slogan Lines END ================== */

/* ================ results================== */

.results .wpb_content_element
{margin-bottom:0;}
.results .smls-grid-image-wrap 
{background: rgba(255,255,255,0.3);padding:0;max-height: 252px;}
.results .smls-grid-container-template-2{border:none !important;}

.results .smls-grid-container-template-2  .smls-grid-image-wrap:before{border-left:none !important;}
.results .smls-grid-image-wrap  .smls-grid-pad-container{max-height:100%;}
.results .smls-grid-image-wrap:nth-child(2n+1){background:rgba(255,255,255,1);}
.results .smls-grid-image-wrap:nth-child(5){background:rgba(255,255,255,0.3);}
.results .smls-grid-image-wrap:nth-child(6){background:rgba(255,255,255,1);}
.results .smls-grid-image-wrap:nth-child(7){background:rgba(255,255,255,0.3);}
.results .smls-grid-image-wrap:nth-child(8){background:rgba(255,255,255,1);}

.results .smls-overlay-effect .smls-overlay-wrap{background: rgba(22,154,255,1);}
.results .smls-overlay-title{font-size: 20px;font-weight: 500;}
.results .smls-overlay-title:after{background:none;}.results .smls-overlay-effect .smls-link-style span{background:orange;width: 60px;height: 60px;line-height: 60px;font-size: 27px;}

/* ================ results END ================== */

/* ================ free-consultation ================== */

.free-consultation p{font-size:20px;}

/* ================ free-consultation END ================== */
/* ================ Partners ================== */
.smls-grid-container-template-1.smls-grid-column-5 .smls-grid-image-wrap, .smls-grid-container-template-2.smls-grid-column-5 .smls-grid-image-wrap, .smls-grid-container-template-1.smls-grid-column-6 .smls-grid-image-wrap, .smls-grid-container-template-2.smls-grid-column-6 .smls-grid-image-wrap {
    min-height: 100px;
    max-height: 100px;
}
.smls-hover-type-2 .smls-grid-image-wrap:hover{background:#fefefe;}
/* ================ Partners END ================== */

/* ================ contact ================== */

.contact-row{margin:-220px 0 100px 0;}
.contact-row .vc_custom_heading{font-weight:600;letter-spacing:-0.5px;}
.contact-box{background:#003359;box-shadow:0 0 6px #bbbbbb}
.form-box{background:#fff;padding:25px 30px;}
.contact-info{color:#fff;padding:25px 30px;}
.contact-info p{font-size:17px;font-family:Montserrat;font-weight:500;margin-bottom:25px;}
.contact-info p i{margin:4px 13px 5px 0;float:left;min-width:22px;font-size: 19px;color:#6b88a5;}
.contact-info .vc_icon_element{float:left;color:#6b88a5;}

.form-control{font-size:18px;height:45px;border-color:#cfd9e6;}
.wpcf7-form-control{font-weight:300;font-size:18px;margin-top:18px !important;width: 100%;border:1px solid #bbb;min-height:48px;border-radius:2px;padding-left:15px;}
.wpcf7-form-control.wpcf7-checkbox
{border:none;width:auto;}

span.wpcf7-list-item{margin: 0 1em 0 0;}
.wpcf7-form-control.wpcf7-radio{border:none;}	
.wpcf7-form-control:focus{border-color:#3dbdcd;outline:none;}
.wpcf7-form br{display:none;}
textarea.wpcf7-form-control{max-height:100px;}
.wpcf7-submit.wpcf7-form-control{color: #fff;margin:0;margin-top: 0px;background:#e32311;padding:14px 0 !important;height: auto;text-transform: uppercase;border:none;font-size: 20px;border-radius: 2px;font-weight: 500;}
.wpcf7-submit.wpcf7-form-control:hover{background:orange;}
.span.wpcf7-not-valid-tip{font-size: 12px;padding-top: 5px;}
.form-little-box
{padding:30px 50px;background: #eee;border-radius: 4px;}
.form-little-box .wpcf7-form-control
{margin: 5px 0 15px !important;border:1px solid #bbb;padding: 9px 15px;}
span.wpcf7-not-valid-tip{font-size:14px;}
.contact-information{border-left:1px solid #eee;padding-left:15px;}
/* ================ contact END ================== */

/* =================== SELECT 2 ============================ */

.page .chosen-container-single .chosen-single{background:#fff;font-weight: 300;font-size: 18px;margin-top: 18px !important;width: 100%;border: 1px solid #fff;min-height: 48px;border-radius: 2px;padding-left: 15px;background-image:none;line-height: 45px;}
.woocommerce-js .chosen-container-single .chosen-single:focus{border:1px solid #fff;}
.woocommerce-js .chosen-container .chosen-results{font-size:15px;margin:15px 0 0;padding:0;}
.woocommerce-js .chosen-container .chosen-results li{padding:9px 13px;}
.woocommerce-js .chosen-container .chosen-results li:hover{background:#1e73be !important;}
.woocommerce-js .chosen-container-single .chosen-search{padding: 3px 12px;}
.woocommerce-js .chosen-container-single .chosen-search input[type="text"]{border-radius:2px;border: 1px solid #ddd;min-height:35px;font-size:14px;}
.woocommerce-js .chosen-container-single .chosen-search input[type="text"]{background: url(images/chosen-sprite2.png) no-repeat 100% 8px !important;top:8px !important}
.woocommerce-js .chosen-container-single .chosen-single div b{background: url(images/chosen-sprite.png) no-repeat -2px 14px !important;top:8px !important}

/* =================== SELECT 2 END ============================ */

/* ================ Quote Form ================== */

.quote-form .field{margin-right:15px;width:19.5%;float:left;}
.quote-form .button-field{width:16%;float:left;}
.quote-form .button-field .wpcf7-submit.wpcf7-form-control{font-size: 14px;}
.quote-form .wpcf7-form-control{border:none;margin-top:0;}
.quote-form .multifile{border:none;margin-top:0;}

/* ================ Quote Form END ================== */

/* ================ Pricing TABS ================== */
.pricing-tabs .vc_tta-tabs-list{text-align:center;}
.pricing-tabs.vc_tta.vc_general .vc_tta-tabs-list{border-bottom:none;margin-bottom:25px !important;}
.pricing-tabs.vc_tta.vc_general .vc_tta-tab{margin:3px 2px 0px 3px !important;}
.pricing-tabs.vc_tta.vc_general .vc_tta-tab>a{border-radius: 5px !important;
    font-size: 18px !important; padding: 22px 25px !important;margin-right: 3px;background: #f0f7fd !important;color: #1582ca !important}

.pricing-tabs .vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab>a{
    background-color: #eee !important;color:#999999 !important;;border: 1px solid #ccc !important;border-bottom:none !important;}
.wpb-js-composer .vc_tta.vc_general .vc_tta-tab.vc_active>a::after, 
.wpb-js-composer .vc_tta.vc_general .vc_tta-tab.vc_active>a::before{content:none !important;}
.pricing-tabs.vc_tta.vc_general .vc_tta-tab.vc_active>a{border-color: #1582C9;background-color: #1582ca !important;color: #fff !important;
}

/* ================ Pricing  TABS END ================== */


/* ================ boot  TABS ================== */

.boot-tabs .nav-tabs{text-align: center;border-bottom: none; margin-bottom:30px;}
.boot-tabs .nav-tabs>li{float:none;display: inline-block;}
.boot-tabs .nav-tabs>li a{border: 1px solid #ccc;border-radius: 5px;font-size: 18px;padding: 22px 25px;margin-right:10px;
    background: #fff;color: #1582ca;}
.boot-tabs .nav-tabs>li.active a{border-color: #1582C9;background-color: #1582ca;color: #fff;}
.boot-tabs .tab-content{background:#fff;padding:15px;border: 1px solid #ddd;}
.boot-tabs .tab-content .table>thead>tr>th{background:#f00;border-bottom:none;color:#fff;text-align: center;padding: 17px 4px;}
.boot-tabs .tab-content .table>tbody>tr>td{border-top: none;text-align: center;padding: 17px 4px;}
.boot-tabs .tab-content .table>tbody>tr>td:first-child{background: #eee;font-weight: 600;color: #1582ca;border-top: none;
    border-bottom: 1px solid #ddd;}


/* ================ boot  TABS END ================== */


/* ================ Offer-box END ================== */
.offer-box .vc_column-inner{padding:20px 15px;text-align: center;}
.offer-box  h2.vc_custom_heading{font-size:40px;text-transform:uppercase;margin:0;}
.offer-box  h4.vc_custom_heading{font-size:25px;margin:0;font-weight:500;border-top: 1px solid #fff;border-bottom:1px solid #fff;padding: 10px 0;margin: 0 0 20px;display: inline-block;}
.internal-offers .offer-box{padding:0 10px;}

/* ================ Offer-box END ================== */

.section-row{padding:80px 0;overflow: visible !important;}
.service-box .wpb_single_image{position:relative;}
.service-box .wpb_single_image .wpb_heading{background: rgba(0,0,0,0.5);color: #fff;font-size: 20px;font-weight: 500;line-height: normal;
margin: 0;padding: 12px 0;bottom: 0;position: absolute;width: 100%;text-align: center;}

.smls-grid-container-template-3 .smls-grid-image-wrap img{width:auto;transform: none;}
.smls-grid-pad-container{border: 1px solid #ddd;margin: 22px 11px;background:#fff;}
.smls-overlay-wrap{display:none;}

/* ================ testimonials ================== */

/* .testimonials{padding:140px 0 90px;} */
.sp-testimonial-section .testimonial-free{font-size: 17px;line-height: 26px;position:relative;background:#fff;    position: relative;    padding:45px 0;}
.sp-testimonial-section{background:#fff;margin: 0 10rem;}

.sp-testimonial-section:after{
    position: absolute;
    bottom: -38px;
    left: 10%;
    content: "";
    border-left: 52px solid transparent;
    border-top: 40px solid #fff;
    /* border-bottom: 0px solid #fff; */
    /* height: 62px; */
    /* width: 44px; */
}
/* .sp-testimonial-section .owl-wrapper{margin:0 auto;max-width:100% !important;} */
/* .sp-testimonial-section .owl-item{margin:0 auto;max-width:1170px;float:none;} */
.tf-client-image{/* position:absolute; */}

.testimonial-free .tf-client-name{
 font-size: 23px;
    display: inline-block;
    padding: 50px 0 5px;
    margin: 0 !important;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0;
    position: relative; 
}
.sp-testimonial-section .testimonial-free .tf-client-designation{margin-top: 0;}
.testimonial-free .tf-client-name:after{position: absolute;top: 25px;content: "";color: #fff;font-size: 37px;left: 10%;right: 10%;text-align: center;
background: #029bff;height: 3px;}

.slick-arrow i{display:none;}
.sp-testimonial-section .slick-arrow{height: 77px;width: 31px;background-position: center center;background-repeat: no-repeat;opacity:0.5;top:42%;}
.slick-arrow:hover{opacity:1;}
.sp-testimonial-section .slick-prev{background:url('images/left-arrow.png');left: -63px;}
.sp-testimonial-section .slick-next{background:url('images/right-arrow.png');right: -63px;}

.sp-testimonial-section .owl-controls .owl-buttons div.owl-prev{left: 5%;}
.sp-testimonial-section .owl-controls .owl-buttons div.owl-next{right: 5%;}
/* .sp-testimonial-section{background: #fff;padding: 50px 0;} */
.sp-testimonial-section .owl-wrapper-outer{max-width: 1170px;margin: 0 auto;padding:0;/* overflow:visible; *//* height:auto !important */}
.sp-testimonial-section .owl-controls .owl-buttons div{top:40%;}
.tf-client-testimonial{margin-top: 25px;padding: 0 10rem;font-style: italic;color: #000;letter-spacing: 0.5px;position: relative;
    font-size: 20px;}
.tf-client-testimonial:before{content:"\f347";font-family:ionicons;font-size: 50px;position:absolute;left:5%;color:#0c9fff;top:0;font-style:italic}
.sp-testimonial-section .owl-pagination{display:none !important;}
.tf-client-image{width:130px;max-width:130px !important; height:130px !important;margin: 0 auto 15px;}
.tf-client-image img{border-radius: 100%;border:2px solid #029bff;width:auto !important;}

/* ================ testimonials END ================== */

.call-to-text a span{color:#e95658}

/* ================ Services ================== */

.services{margin-top:-100px;padding-top: 0;}
.service-box .vc_column-inner{padding-left: 13px;padding-right: 13px;}
.service-box .vc_column-inner > .wpb_wrapper{box-sizing: border-box;box-shadow:0 0 6px #c1c1c1;text-align:center;border:2px solid #fff;border-radius:2px;transition:all 0.5s ease-in-out 0s;background:#fff;padding-top: 15px;}
.service-box .vc_column-inner > .wpb_wrapper:hover{box-shadow:0 0 5px #cccccc;text-align:center;border:2px solid #00447a;}
.service-box h4{color: #00447a;font-size: 15px;text-transform: uppercase;margin-bottom: 0;border-top: 1px solid #eee;padding: 14px 0;font-weight: 600;}
.service-box img{max-height:136px;}	

/* ================ Services END ================== */

/* ================ call-back-form ================== */

.call-back{padding:0;}
.call-back-form{padding:70px 45px 0;}
.call-back-form p{margin-bottom:0;}
.call-back-form .wpcf7-form-control{border: 1px solid #fff;}
.call-back-form .wpcf7-checkbox.wpcf7-form-control{border:none;}
.call-back-form  .wpcf7-submit{width:100%;border:none;}

/* ================ call-back-form END ================== */

/* ================ Weather App ================== */

.weather-app{margin:0;padding:0;}
.astero.astero-img .astero-background{background:url('inc/weather-bg.jpg') no-repeat !important;background-position:center center !important;background-size:cover !important;}

/* ================ Weather App END ================== */

/* ================ service-box ================== */

.service-detail-box{margin-bottom:20px;}
.service-detail-box .vc_custom_heading{font-size: 20px;margin-top:0;padding-bottom:0;}

/* ================ service-boxEND ================== */

/* ================ Newsletter  ================== */
.widget_newsletterwidget{margin-top:20px}
.widget_newsletterwidget form p:nth-child(2){display:none;}
.widget_newsletterwidget form p:nth-child(3){width:68%;float:left;}
.widget_newsletterwidget form p:last-child{width:30%;float:right;}
.widget_newsletterwidget form .tnp-email{padding:10px 15px;background:#fff;}
.widget_newsletterwidget form input.tnp-submit{background:#029bff;border-color:#029bff;border-radius:2px;}
.widget_newsletterwidget form input.tnp-submit:hover{background:#00447a;border-color:#00447a}

/* ================ Newsletter END ================== */
.YouTubePopUp-Close{background:none;}
.YouTubePopUp-Close:after{content: "\f404";position: absolute;top: -40px;font-size: 78px;color: #fff;font-family: ionicons;right: 0;
width: 100%;height: 100%;z-index: 100;}
.YouTubePopUp-Content iframe{background:#555;}

/* ======================= Check LIST =================== */

.list ul{list-style:none;padding:0;margin: 0;}
.list ul li{padding:10px 0 10px 31px;position:relative;font-weight: 500; color: #555;}
.list ul > li::before{position: absolute;font-size: 25px;left: 0;top: 15px;content: "";color: #1582ca;height: 18px;width: 18px;  border-radius: 100%; border: 2px solid;}
/* .list.arrow > li:before{content:"\f362";} */
/* .list ul > li{padding-right:20px;} */
/* .check-list ul > li:before{content:"\f375";} */

/* ======================= LIST END =================== */

/* ======================= HELP =================== */

.help p{font-size:25px;color:#999;font-weight:300;}
.help h1{font-size:40px;color:#003052;font-weight: 600;}
.help h2{font-size:35px;color: #029bff;font-weight:500;}
.help h2 a{color:#e32311;font-weight:600;}
.help h2 a:hover{color: #29efff;} 
.help a:hover img{color: #29efff;opacity:0.8} 

/* ======================= HELP END =================== */
/* ======================= brand-box =================== */
.brand-box{box-sizing: border-box;box-shadow:0 0 6px #c1c1c1;border:2px solid #fff;border-radius:3px;transition:all 0.5s ease-in-out 0s;background:#fff;padding-top: 15px;/* margin-bottom:15px; */}
.brand-box:hover{box-shadow:0 0 5px #cccccc;border:2px solid #00447a;}
/* ======================= brand-box END =================== */

/* =================== WooCommerce ===============*/
.woocommerce-loop-category__title{text-align:center;}
mark.count{border-radius: 100%;
background: #fff;
font-size: 12px;
height: 30px;
width: 30px;
display: inline-block;
line-height: 30px;}
.woocommerce-ordering, .woocommerce-result-count{display:none;}
.woocommerce .page{padding: 50px 0;background:#eee;}
.woocommerce li.product{text-align:center;}
.woocommerce-loop-product__title{max-width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/* .woocommerce ul.products li.product-category a, */
.woocommerce ul.products li.product .woocommerce-LoopProduct-link{padding:25px;background-color:#fff;box-shadow:0 0 5px #ccc;display:block;border-radius:3px;    text-align: center;box-sizing: border-box;border:2px solid #fff;}
.woocommerce ul.products li.product .woocommerce-LoopProduct-link:hover{border-color:#00447a;}
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link > img{ 
    max-height:180px;
    max-width: 100% !important;
    width: auto;
	text-align:center;
	display: inline-block;
}
.woocommerce ul.products li.product .button{background: #00447a;color: #fff;border-radius: 40px;font-size:14px;
    font-weight: 500;padding: 13px 30px;}
.woocommerce ul.products li.product .button:hover{background:#029bff;}
.woocommerce .page-title, .single-post .page-title{display:block}
.woocommerce-Tabs-panel--description{}
.table > thead > tr > th{font-weight:500;color:#000;}

/* single-product */
.woocommerce .single-product div.product p.price{margin-bottom:30px;font-size: 44px;color:#e32311;font-weight: 600;font-family: Montserrat;display:none;}
.product-addon-dimensions{}
.woocommerce .addon-name{font-size:19px;}
.woocommerce form .form-row .addon{border-radius:2px;border:1px solid #ddd;min-height:45px;padding-left:15px; transition: all 0.5s ease-in-out 0s;}
.woocommerce form .form-row .addon.addon-checkbox{min-height: auto;}
.woocommerce form .form-row .addon:focus{border-color:#1582ca;}
.woocommerce .product-addon-special-options .form-row{float: left; width: 100%;clear: none;}
.woocommerce .flex-viewport{background:#eee;}
.woocommerce div.product div.images .flex-control-thumbs{margin-top:20px}
.woocommerce div.product div.images .flex-control-thumbs li{padding: 5px;background: #f1f1f1;}
.woocommerce div.product div.images .flex-control-thumbs li img{background: #fff;border:2px solid #fff;transition: all 0.5s ease-in-out 0s;    opacity: 1;}
.woocommerce div.product div.images .flex-control-thumbs li img:hover{background: #fff;border:2px solid #1582ca;}
.product-addon-dimensions .form-row-wide{
    width: 30%;
    float: left;
    clear: none !important;
}
.woocommerce form .form-row label {
    line-height: 2;
    font-size: 14px;
    text-transform: uppercase;
}
.woocommerce div.product .woocommerce-tabs .panel{margin-bottom:0;}
.single-product-container{padding:0px 0 0;}
.breadcrumb{background:none;margin-bottom:35px;padding:0; display:none;}
h4.wcuf_upload_field_title{margin-top:0;}
.wcuf_single_upload_field_container{border:2px dashed #dedede !important;text-align:center;margin-bottom: 20px !important;background: #f1f1f1;}
.single-product-container .wcuf_upload_fields_row_element{margin-bottom: 0;}
.single-product-container .wcuf_upload_fields_row_element .button{float:none !important;background:#1582ca;color:#fff;font-weight:500;}
.single-product-container .wcuf_upload_fields_row_element .button:hover{background:#23527c;color:#fff;}
.chosen-container-multi .chosen-choices{background-image:none !important; min-height: 45px;}
.chosen-container-multi .chosen-choices li.search-choice{padding: 9px 19px !important;background-image:none !important;}
.woocommerce .single-product-container .quantity{width:20%; margin: 0 10px 0 0 !important;}
.woocommerce .single-product-container .quantity .qty{width: 100%;border-radius:2px;border:1px solid #ddd !important;min-height:60px;}
.chosen-container-multi .chosen-choices{border-radius:2px;border:1px solid #ddd !important;min-height:45px;padding-left:15px !important;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{background:url(images/chosen-sprite.png) -42px 1px no-repeat !important;top: 11px !important;}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{height: 40px !important;padding-left:15px;font-size:15px !important}
.single-product-container .single_add_to_cart_button{padding: 20px 39px !important;font-weight: 600 !important;font-size: 20px !important;background:#e32311 !important;}
.single-product-container .single_add_to_cart_button:hover{background:#1582ca !important}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{padding:13px 3em;border-radius: 3px;font-weight: 600;font-size: 20px;}
.single-title{margin:0 0 25px;}
.woocommerce .entry_meta{display:none;}

.woocommerce .wcuf_file_name{border:none;}
.woocommerce .wcuf_single_file_name_in_multiple_list, 
.wcuf_preview_file_title
{white-space: nowrap;text-overflow: ellipsis;overflow:hidden; max-width: 80%;
display: inline-block;}
.wcuf_single_file_in_multiple_list,
li.wcuf_file_preview_list_item
{background:#fff;max-width: 33%;min-height: 140px;margin:0 5px 10px !important;min-width: 43%;padding: 8px 10px;position: relative;}
.wcuf_upload_button_container button.button.wcuf_upload_field_button{margin-bottom: 0px !important;}
.woocommerce .wcuf_delete_single_file_in_multiple_list.wcuf_delete_file_icon{height:25px;width:25px;position: absolute;right: 7px;
    top: 11px;background-color: #eee;padding: 6px;border-radius: 100%;background-repeat: no-repeat;background-position: center center;
    background-size:48%;}
.woocommerce .wcuf_delete_single_file_in_multiple_list.wcuf_delete_file_icon:hover{background-color:#ddd;}
.woocommerce button.wcuf_upload_multiple_files_button{background:#e32311 !important;}
.wcuf_bar{background:green !important;} 
.wcuf_already_uploaded_data_container h4{margin-bottom: 15px !important;max-height: 24px;}
.woocommerce .wcuf_preview_file_title{display: inline-block !important;}
img.wcuf_file_preview_list_item_image{display: inline-block !important;}

.wcuf_preview_file_title{white-space: inherit;max-height:25px;}
.wcuf_preview_file_title .wcuf_delete_single_file_stored_on_server
{    height: 25px !important;
    width: 25px !important;
    position: absolute;
    right: 7px;
    top: 11px;
    background-color:#eee !important;
    padding: 6px;
    border-radius: 100%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 48% !important;}
.wcuf_preview_file_title .wcuf_delete_single_file_stored_on_server:hover{background-color:#ddd !important;}	
.woocommerce-cart-form__cart-item .product-thumbnail,.woocommerce-cart table.cart .product-thumbnail, .woocommerce-checkout table.cart .product-thumbnail{display:none !important;}
.single-product .single-product-container{margin-bottom: 0;}
.woocommerce div.product .summary.entry-summary{display:block}
/* single-product */


/* Billing -details */

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea
{
    border: 1px solid #ccc;
    border-radius: 2px;
    min-height: 40px;
    padding-left: 15px;
}
.woocommerce form .form-row input.input-text:focus, .woocommerce form .form-row textarea:focus{border: 1px solid #1582ca;}
.woocommerce-checkout h3{margin-bottom:35px;position:relative;}
.woocommerce-checkout h3:after{
    position: absolute;
    width: 150px;
    content: "";
    bottom: -15px;
    background: #029bff;
    left:0;
    height: 3px;
}
.woocommerce form .form-row textarea{min-height:350px;padding-top:10px;}
/* Billing -details END */

.woocommerce-Tabs-panel >h2{display:none;}


/*====================== =========================== WooCommerce END ========================================*/

/*====================== why  ===================*/

.why-box .vc_custom_heading{padding-bottom: 0;}
.why-bottom p{font-size:18px;font-weight:normal;}

/*====================== why END ===================*/
/*====================== Process  ===================*/
.process-row{position:relative;min-height:500px;}
.process-box{position:absolute; min-width: 20% !important;}
.process-box .vc_column-inner{padding:0;}
.process-box h4{margin-top:0;}
.process-box:nth-child(1){bottom:0;left:5%}
.process-box:nth-child(2){top:14%;left:15%}
.process-box:nth-child(4){top:14%;right:18%}
.process-box:nth-child(3){top:0;left:40%;right:40%;}
.process-box:nth-child(5){bottom:0;right:5%}
.process-bottom{margin-top: -250px;}

/*====================== Process END ===================*/

/*Added by Karam*/
.single-product header.page-title{background: #00447a !important;}
/* HOW MAke circle boxes */
.how-make-box{padding: 0 25px;}
.how-make-box .ih-item.circle{width:100%;height:100%;}
.how-make-box .ih-item.circle{width:100%;height:100%;}
.how-make-box .ih-item.circle .img{width:100%;height:100%;}
.how-make-box .ih-item.circle .info-back .how-make-box{width:100%;height:100%;padding:0;}
.ih-item.circle.effect16 .info h3{height: auto;margin-bottom:15px;}
.ih-item.circle.effect16 .info p{font-size:13px;ine-height: 25px;}
/* HOW MAke circle boxes END */

/*====================== cart  ===================*/
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{font-weight:600;background:#1582ca;color:#fff;}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{background:#23527c;color:#fff;}
.woocommerce table.shop_table{border-radius: 2px;}
.woocommerce table.shop_table td{padding:20px 12px;}
.woocommerce-cart-form__cart-item .product-thumbnail{padding: 0 !important; max-width: 134px;}
.woocommerce-cart-form__cart-item .product-thumbnail img{width:auto !important;max-width: 200px;}
.woocommerce table.shop_table th{background: #eee;color: #000;font-weight: 600;}
.woocommerce-cart-form__cart-item .variation{font-size:14px;}
.woocommerce-cart-form__cart-item .product-name{padding-top:20px;}
.woocommerce-cart-form__cart-item .product-name a{font-weight:600;font-size:20px;color:#00447a;padding:0 0 10px 0;display: inline-block;}
.woocommerce-cart-form__cart-item dt{font-weight:500;}
.woocommerce-cart-form__cart-item .woocommerce-Price-amount{font-weight:500;color:#00447a;}
.woocommerce table.shop_table input[type="text"], .woocommerce table.shop_table input[type="number"]
{border-radius:2px;min-height:40px;border:1px solid #ddd;}
.cart_totals h2{font-size:20px;text-transform:capitalize;}
.woocommerce table.shop_table .coupon input[type="text"]{width: auto !important;border-radius: 2px;min-height: 40px;border: 1px solid #ddd !important; padding-left: 15px !important;}
.wc-proceed-to-checkout a{background:#e32311 !important;}
.wc-proceed-to-checkout a:hover{background:#1582ca !important;}
.woocommerce table.shop_table .coupon button{background:yellowgreen;}
.woocommerce table.shop_table .coupon button:hover{background:orange;}
.woocommerce .product-remove a.remove{color:#999 !important;background:#eee;font-weight:300;line-height: 27px;}
.woocommerce .product-remove a.remove:hover{color:#fff !important;background:red;}
.woocommerce-checkout .wcuf_single_upload_field_container{display:block;}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{background:#e32311;}
.woocommerce #respond input#submit.alt:hover{background:#00447a !important;}
.woocommerce form .form-row.validate-postcode,
.woocommerce form #billing_city_field.form-row.address-field
{width:49%;float:left;clear:inherit;}
.woocommerce form .form-row.validate-phone,
.woocommerce form .form-row.validate-state
{width:49%;float:right;clear:inherit;}
.woocommerce-checkout .select2-container--default .select2-selection--single{border: 1px solid #ccc;border-radius:2px;height:40px;margin-bottom:2px;}
.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered{}
.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__arrow{height: 39px;}
.woocommerce-order-received .wcuf_single_upload_field_container{display:none;}
.woocommerce-order-details__title, .woocommerce-column__title{margin-bottom:35px;position:relative;text-transform:capitalize;font-size: 24px;}
.woocommerce-order-details__title:after, .woocommerce-column__title:after{position: absolute;width: 150px;content:"";bottom: -15px;background: #029bff;left:0;
    height: 3px;}
.woocommerce-table__product-name a{font-weight: 500;color:#00447a}
.woocommerce-thankyou-order-received{padding: 20px 30px;border-radius: 2px;margin-bottom: 50px;color: #fff;background:#70ce42;}
.woocommerce-thankyou-order-details{padding:25px 34px;border: 1px solid #ddd;background:#f1f1f1;border-radius: 3px;text-align: center;}
.woocommerce ul.order_details li strong{padding:10px 0 0;color:#00447a;}
/*====================== cart END ===================*/


/* ============================= not-found =========================== */
.not-found{text-align:center;}
.not-found .page-header{margin-bottom:0;border:none;}
.not-found .page-title{padding-bottom: 9px;margin: 40px 0 20px;border-bottom: 1px solid #eee;}
.not-found .page-content{padding-bottom: 100px;}
/* .not-found .search-form .search-field{height:50px;} */
.not-found .search-form {display: inline-block;}
.search-form input[type="search"] {
    border: 1px solid #ccc;
    border-radius:2px;
    height: 42px;
    padding: 0 21px;
}
.search-form label .screen-reader-text{display:none;}
.not-found label .screen-reader-text{display:none;}
.search-form .search-submit{

    background: #029bff;
    border-color: #029bff;
    border-radius: 2px;
    padding: 9px 22px;
    float: right;
    margin-left: 5px;
    border-radius: 2px;
    border: none;
    color: #fff;
}
.search-form .screen-reader-text{position: static !important;}
.search-form .search-submit:hover{background:#00447a;}
.search-form input[type="search"]:focus{border-color: #029bff;}

/* ============================= not-found =========================== */

/* ============================= search-results =========================== */
.search-results{padding:50px 0;}
.search-results article{padding-bottom:20px;border-bottom:1px solid #eee;margin-bottom:25px;}
.search-results article.has-post-thumbnail{display: inline-block;}
.search-results article h2.entry-title a{font-size:22px;color:#000;margin-bottom: 10px;display: block;}
.search-results article h2.entry-title a:hover{color:#29aae1;}
.search-results .has-post-thumbnail .entry-summary{float:left;width:78%;}
.search-results .has-post-thumbnail .post-thumbnail{float:left;width:20%;margin-right: 15px;}
.search-results .has-post-thumbnail .post-thumbnail img{max-width:100%;height:auto;}

/* ============================= search-results END =========================== */
/* ============================= pagination =========================== */

.pagination .screen-reader-text{display:none;}
.pagination .nav-links .page-numbers{padding:10px 15px;border: 1px solid #ddd;border-radius: 2px;color:#999;}
.pagination .nav-links .page-numbers:hover,
.pagination .nav-links .page-numbers.current
{background:#29aae1;color:#fff;border:1px solid #29aae1;}

/* ============================= pagination END =========================== */
/* ============================= pagination END =========================== */

.patch-percentage-box .ih-item.circle{margin:0 auto;}
.patch-percentage-box .ih-item.circle.effect3 .info p{line-height: 18px;}
.patch-percentage-box .ih-item.circle.effect3 .info h3{font-size: 18px;text-transform: capitalize;}
.patch-percentage-box .ih-item.circle.effect3 .info{background:#00447a}

/* ============================= pagination END =========================== */

/* ============= fancy-popup Get Quote popup ============*/
.modal{z-index: 999999;}
.header-callback{float:right;}
.callback-btn{margin:17px 0 17px 15px;padding: 8px 27px;border-radius: 40px;background: #29aae1;color: #fff;line-height: normal;font-size: 14px;float: right;font-weight: 500;}
.callback-btn:hover, .callback-btn:focus{color:#fff;background:orange}
.modal-dialog{margin: 60px auto;}
.fancy-popup .modal-content{padding:0 15px;border-radius:0;}
.modal-header{text-align:center;border:none;padding: 0;margin: 30px 0 30px !important;}
.modal-header .close{position: absolute;right:15px;top:8px;}
.fancy-popup .wpcf7-submit.wpcf7-form-control{width: auto;float: none;display:inherit;padding: 10px 60px !important;background:#e32311;border-radius:40px;text-align:center;font-size:16px;margin: 0 auto;}
.fancy-popup .wpcf7-submit.wpcf7-form-control:hover{background:orange}
.fancy-popup .modal-body{padding-bottom:25px;}

.fancy-popup .section-title h3 {
    font-size: 25px;
    color: #000;
    margin-top: 0;
}
.fancy-popup .section-title:after {
    position: absolute;
    width: 150px;
    content: "";
    bottom: -15px;
    background: #029bff;
    left: 50%;
    height: 3px;
    margin-left: -75px;
}
.fancy-popup .multiupload{padding-top:15px;}
.fancy-popup .multiupload .wpcf7-form-control{margin-top:0 !important;margin-bottom:18px !important}
.fancy-popup .multiupload label{color:#555;}
.get-quote-popup .button-field{position:relative;}
.get-quote-popup .button-field .ajax-loader{
    position: absolute;
    top: -95px;
    right: 0;
    background: url(images/ajax-loader.gif) no-repeat !important;
    width: 54%;
    background-repeat: no-repeat;
}

/*==============  Get Quote popup END ============*/

/*==============  Gallery ============*/

.Gallery .vc_tta-panels{background:none !important;padding:0;border:none !important;margin-top:50px !important}
.Gallery .vc_tta-panels .wpb_single_image img{transition: all 0.5s ease-in-out 0s;}
.Gallery .vc_tta-panels .wpb_single_image img:hover{
	opacity:0.8;
    -webkit-transform: scale(1.09,1.06);
    -moz-transform: scale(1.09,1.06);
    -ms-transform: scale(1.09,1.06);
    -o-transform: scale(1.09,1.06);
    z-index: 2;
    -khtml-box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.08);
    box-shadow: 12.9px 15.3px 18px 0 rgba(0,0,0,.08);
}

/*==============  Gallery  END ============*/

#product-addons-total{display:none;}
.chosen-container{width:100% !important;}
abbr.required{display:none}

.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select{border-color:#ccc !important;}
.woocommerce form .form-row.woocommerce-invalid label{color:#999 !important}

/* ================================== Factors ===================================== */

.factor-title-order{display: block;background:#1582ca;border:2px solid #23527c;max-width:40px;height:40px;border-radius: 100%;
    line-height:40px;margin: 0 auto;color: #fff;}
	
/* ================================== Factors  ===================================== */
.speacial-option.vc_tta.vc_general .vc_tta-tabs-list{margin-bottom:80px !important}
.speacial-option .vc_tta-panel-body, .speacial-option .vc_tta-panels{background:none !important; padding:0 !important;border:none !important}
.speacial-option .special-offer{
   border: 1px dashed #bdbdbd;
    margin: 0;
    padding: 4px 0;
    min-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.speacial-option .special-offer p strong{color:#f00;}
.review-box .vc_column-inner  {
    box-shadow: 5px 0 10px #ddd;
    padding:15px 25px 10px !important;
}
.woocommerce-remove-coupon{display:none;}
.motergallery-box{padding:15px;}
.motergallery-box .wpb_single_image{margin-bottom:0}
.motergallery-box .vc_column-inner {box-shadow:0 0 5px #ddd;background:#fff;padding:0;}
figure.style7 img{height:auto !important;}

.wpcf7 .wpcf7-validation-errors{display:none !important;}
#wpcf7-f232-p8-o1 span.wpcf7-not-valid-tip{color:#ccc !important;}

.addon-wrap-230-units-3 select,.addon-wrap-228-units-4 select,.addon-wrap-231-units-4 select,.addon-wrap-229-units-3 select{margin-top:5px !important;height:40px !important;}

#post-231 .quantity .screen-reader-text,#post-230 .quantity .screen-reader-text,#post-228 .quantity .screen-reader-text,#post-229 .quantity .screen-reader-text{
    position: relative !important;overflow: inherit !important;
}
.quantity input{min-height: 45px !important;}
.quantity{width:100% !important;}
figure.wpb_wrapper.vc_figure{display:none;}
#post-8 figure.wpb_wrapper.vc_figure, #post-54  figure.wpb_wrapper.vc_figure{display:block;}