@media(max-width:1300px)
{
.internal-hero-images{display:none;}	
.internal-hero .page-title{text-align:center;width:100%;text-align:center;background:none;}
.internal-hero .vc_custom_heading{text-align:center !important;color:#fff}	
}
@media(max-width:1199px)
{.vc_tta.vc_tta-shape-rounded .vc_tta-tab>a {font-size: 15px !important;padding: 15px 18px !important;}
.page-title .vc_custom_heading{font-size: 25px;}
.internal-hero{padding:15px 0;}
}
@media(max-width: 1024px)
{
.sidebar.active {overflow-y: scroll;}	
}
@media(max-width: 991px)
{
.sidebar .widget_nav_menu{display:block;}
.header .main-navbar{display:none;}
.wpmslider-viewport .testimonial{width:100%;}
.strong-view.default .testimonial-content p{padding:0;}
.service-box .vc_column-inner {padding: 50% 15px 19px;}
.navbar-toggle{display:block;}
.home .navbar-toggle .icon-bar{border-top: 1px solid #fff;}
.home .fixed.navbar-static-top .navbar-toggle .icon-bar{border-top: 1px solid #373e47;}
.hero-intro h1, .Aboutus-video h1{letter-spacing: 0;font-size: 40px;}
.hero-intro h2,.Aboutus-video h2{margin-top:0;font-size: 25px;}
.testimonial-container{max-width:100% !important}

}
/* ============================ */
@media(max-width: 767px)
{
	
.container > .navbar-header{margin:0;float:left;}

.hero-intro h1, .Aboutus-video h1{letter-spacing: 0;font-size: 35px;}
.hero-intro h2, .Aboutus-video h2{margin-top:0;font-size: 20px;}
.slogan-lines p{font-size: 20px;line-height: normal;}

.vc_custom_heading{font-size: 28px !important;line-height: 35px !important;text-align:center !important;}.service-box .vc_custom_heading{font-size: 20px !important;line-height: 25px !important;}
.entry-content .wpb_wrapper div{text-align:center !important;}
.strong-view.default .testimonial-content p{padding:0}
.footer{text-align:center;}
.es_widget_form .es_textbox_button{margin-top: 6px;width: 100%;}
.feature-box{margin-bottom:50px;}.feature-box:last-child{margin-bottom:0px;}
.feature-box h4{font-size:18px !important;}.prettyphoto img{height:auto !important;}
/* .testimonial-container div{max-width:100% !important;display:inherit !important} */
.vc_btn3.vc_btn3-size-lg{padding: 8px 35px;}
.secret-box .vc_toggle{min-width:95% !important;max-width: 95% !important;}.secret-box .vc_toggle .vc_toggle_title{padding-left:0;}.secret-box2.secret-box .vc_toggle .vc_toggle_title{padding-right:0;}
}
@media(max-width: 640px)
{

}

@media(max-width: 480px)
{

}
/* ======================= */
@media(max-width: 479px)
{
}
@media(max-width: 360px)
{.service-box{width:100%;}	
}
